<% include ../partials/header %>






<div class = "container";>
    <div class = "row">
        <h1 style = "text-align:center;"> Add  a new fun Spot </h1>


<div style =" width:30% ; margin: 25px auto">
<form   action = "/campgrounds"   method = "post">
<div class = "form-group animated bounceInLeft">
    
    <input class = "form-control" type = "text" name = "name" placeholder= "Name of fun Spot">
  
    </div>
    
<div class = "form-group animated bounceInRight">
    

<input class = "form-control" type = "text" name = "image" placeholder= " Add image url">
    
    </div>   
    
        
<div class = "form-group animated bounceInUp">
    

<input class = "form-control" type = "text" name = "description" placeholder= " Give A description">
    
    </div> 
    
<div class = "form-group animated bounceInDown">
<button class = "btn btn-lg btn-success btn-block" >Submit</button>
</div>

</form>
    <a href = "/campgrounds"> Go back</a>
</div>
 
    </div>
</div>
<% include ../partials/footer %>