body{
    background-color: darkseagreen;
}

.thumbnail img{
width: 100%;
}
.thumbnail{
    /* this padding affect All the images */
    padding:0
}

.thumbnail .caption-full{
    padding:9px;
}

.delete-form{
    display: inline;
}



.saclebox{
   
    -webkit-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s; 
    -moz-transition: all 0.5s ease-in 0s;
    transition: all 0.5s ease-in 0s;
/*
    this padding affect the images in the index page 
    padding: ;
*/
    
}

.saclebox:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);   
    -moz-transform: scale(1.15);
    transform: scale(1.1);
     box-shadow: 0px 0px 150px #000000;  
}

/* ' for the fun places in 9ja ' */
.lead{
     font-family: 'Nunito', sans-serif;
}
a{
    font-family: 'Nunito', sans-serif;
}

h1{
     font-family: 'Nunito', sans-serif;
}

/* ' for name of places in the index page just below the image and above the button ' */
h4{
    font-family: 'Nunito', sans-serif;
}


/* ' for the           ' */
.googlefont{
   font-family: 'Nunito', sans-serif;
    text-align: justify;
}


/* ' for Olumo rock ,  state ,  Website ' */
.panel-group{
    font-family: 'Nunito', sans-serif;
}